@import "tailwindcss";

@layer base {
  /* Paksa background agar tidak di-hijack oleh Dark Mode bawaan PC/HP */
  body {
    background-color: #FDFCF8 !important;
    color: #2C352D !important;
  }
  
  /* Otomatis terapkan Playfair ke semua judul */
  h1, h2, h3, .font-playfair {
    font-family: var(--font-playfair), serif;
  }
  
  /* Otomatis terapkan DM Sans ke teks biasa */
  p, span, a, button, div {
    font-family: var(--font-dmsans), sans-serif;
  }
}